.top {
  width: 100%;
  height: 50px;
  background-color: white;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  /* justify-content: space-between; */
  background-color: black;
  color: white;
  /* background: linear-gradient(45deg, black, rgba(8, 8, 8, 0.212)); */
}

.topLeft,
.topRight {
  flex: 3;
  /* background-color: tomato; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.topCenter {
  flex: 6;
}

.topIcon__facebook {
  font-size: 20px;
  margin-right: 10px;
  color: rgb(47, 94, 248);
  cursor: pointer;
}

.topIcon__twitter {
  font-size: 20px;
  margin-right: 10px;
  color: rgb(10, 155, 240);
  cursor: pointer;
}

.topIcon__pinterest {
  font-size: 20px;
  margin-right: 10px;
  color: rgb(172, 73, 73);
  cursor: pointer;
}

.topIcon__instagram {
  font-size: 20px;
  margin-right: 10px;
  color: rgb(219, 139, 19);
  cursor: pointer;
}

.topImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: contain;
  margin-left: 40px;
  margin-right: 30px;
  cursor: pointer;
  border: 1px solid gray;
}
.topImg:hover {
  border: 1px solid teal;
}

.topImg__dropdown {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: contain;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
  border: 1px solid gray;
}

.topList {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.topListItem {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  color: white;
}

.link {
  color: inherit;
}

.link:hover {
  color: inherit;
  text-decoration: none;
}

.search-input {
  border: none;
  outline: none;

  margin-left: 30px;
  border-radius: 20px;
  height: 35px;
  padding: 0 40px 0 40px;
}

::placeholder {
  font-size: 1vw;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
}

.topSearchIcon {
  font-size: 18px;
  color: white;
  cursor: pointer;
  margin-left: 15px;
}

.menu_active {
  font-weight: bold;
  color: red;
}

.dropdown {
  position: relative;
  /* z-index: -1; */

  /* transition: all 0.5s; */
}

.dropdown__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  right: 40%;
  /* padding-right: 50px; */
  padding-bottom: 20px;

  background-color: rgb(68, 65, 65);
  border-radius: 12px;

  /* padding: 5px 10vw 5px 10px; */

  font-family: "Josefin Sans", sans-serif;

  z-index: 1;
}

.dropdown__item__profile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  /* margin-right: 10px; */
}

.dropdown__item__profile > span {
  margin-right: 20px;
  font-size: 1vw;
}

.dropdown__item {
  cursor: pointer;
  margin-top: 5px;
  transition: all 0.3s;
  /* margin: 10px; */
}

.dropdown__item:hover {
  background-color: grey;
  color: black;
  border-radius: 5px;
}

.dropdown__item__profile:hover {
  background-color: grey;
  color: black;
  border-radius: 5px;
  cursor: pointer;
}
